*{
    margin: 0; 
}

body{
    margin: 0;
    font-size: 20px;
    height: 100vh;
    background-color: black;
    overflow-y: hidden;
}

.navigation{
    justify-content: center;
    width: 100%;
    background-color: rgb(56, 56, 56);
    font-family: Arial, Helvetica, sans-serif;
}

.navigation ul{
    display: flex;
    justify-content: right;
    flex-direction: row;
    gap: 40px;
    padding: 25px;
    color: white;
}

.navigation li{
    text-decoration: none;
    list-style-type: none;
}

.navigation a{
    text-decoration: none;
    color: white;
}

.navigation .pcurriculo{
    border-bottom: 4px solid white;
}

.navigation li:hover{
    cursor: pointer;
    color: aqua;
}

.conteudo{
    background-color: rgb(226, 226, 226);
    height: 940px; 
    width: 100%;
    display: flex;
    box-shadow: inset 0 0 100px rgb(126, 126, 126);
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* CONTEUDO LADO ESQUEDO */

.conteudo .titulo{
    /* background-color: rgb(37, 37, 37); box-shadow: inset 0 0 200px rgb(10, 10, 10); MODELO PRETO*/ 
    background-color: rgb(52, 134, 172); box-shadow: inset 0 0 80px rgb(10, 10, 10);
    font-size: 16px;
    color: white;
    width: 560px;
    height: 920px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding-top: 90px;
    gap: 15px;
    animation: cor 6s infinite alternate;
    left: 0;
    /* justify-content: center; */
    align-items: center;
}

@keyframes cor{
    0%{
        background-color: rgb(53, 53, 53);
        box-shadow: inset 0 0 100px rgb(14, 14, 14);
    }
}

.conteudo .titulo p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    /* color: rgb(89, 169, 245); */
    color: rgb(240, 240, 240);
    font-weight: bolder;
    align-items: center;
}

.titulo hr{
    color: aqua;
    width: 400px;
}

.conteudo .titulo span{
    /* color: rgb(161, 161, 161); */
    color: rgb(17, 17, 17);
    font-weight: bold;
}

.titulo .foto{
    padding: 90px;
    border: 3px solid black;
    background-image: url(perfil.jpg);
    background-position: center; background-size: cover;
    height: auto;
    border-radius: 20%;
    justify-content: center; align-items: center; margin: 0; display: flex;
}

.contato{
    margin-right: 0px; 
    font-size: 17px;
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: justify;
    margin-left: 20px;
}

.contato a{
    text-decoration: none;
    color: white
}

.contato a:hover{
    color: aqua;
}

.formação{
    margin-left: 30px; 
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.contato ul{
    list-style-type: none;
    margin-right: 50px;
}

.formação ul{
    list-style-type: none;
    margin-right: 20px;
}

.contato img{
    height: 10px;
    width: auto;
}

/* ---------------------------------------------------------------------------- */

.sobre{
    margin: 60px 100px;
    max-height: 550px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    text-align: justify;
    justify-content: center;
}

.sobre h1{
    font-weight: bold;
    cursor: pointer;
}

.experiencias span{
    color: rgb(89, 169, 245);
    font-weight: bold;
}

.competencias span{
    color: rgb(89, 169, 245);
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    cursor: pointer;
}
